/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */

body {
    background-color: #F6F8F9;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

.circle {
    display: inline-block;
    height: 17px;
    width: 17px;
    line-height: 17px; 
    text-align: center;
    border: 1px solid lightgreen;
    border-radius: 100%;
    
}

.circle-red {
    display: inline-block;
    height: 17px;
    width: 17px;
    line-height: 17px; 
    text-align: center;
    border: 1px solid red;
    border-radius: 100%;
    
}

.btn {
    background-color: transparent;
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
}

.btn-1 {
    background-color: #14AAF5;
    color: #ffffff;
    border-color: #14AAF5;
}

.btn-2 {
    background-color: #C4CBD0;
    color: #ffffff;
    border-color: #C4CBD0;
}

.tag {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 12px;
}

.tag-blue {
    background-color:  #14AAF5;
}

.tag-purple {
    background-color:  #ab5de6;
}

.tag-green {
    background-color:  #2CC6AB;
}

.tag-orange {
    background-color:  #FF9B00;
}

.tag-pink {
    background-color:  #EC4A9D;
}

.tag-lime {
    background-color:  #A3D116;
}

/* HEADER */

header {
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

.logo {
    vertical-align: middle;
}

/* HEADER */

/* MAIN */

main {
    background-color: #ffffff;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
}

