/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */

body {
    background-color: gray;
    font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

.logo {
    vertical-align: middle;
}

/* HEADER */